.divisor {
    background-color: rgb(59, 59, 59);
    margin: 0 35vw 0px 35vw;
    text-align: center;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

label {
    align-items: center;
}

hr {
    background-color: rgb(59, 59, 59);
    border: none;
}

.submit__button {
    margin: 5vh 0px 2vh 0;
    height: 40px;
    width: 100px;
    background-color: grey;
    border-radius: 10px;
    color: white;
    border-color: white;
}

.submit__button:hover {
    background-color: #4ca7c1;
}

input{
    color:black
}

select {
    color:black;
    width: 20vw;
}

textarea {
    color:black;
    max-height: 50px;
}