th {
  font-size:x-large;
  background-color: #1D83C2;
  color: white;
}
  
.table {
  text-align: center;
  width: 100%;
}

.view {
  height: 77vh;
  overflow: auto;
}

td {
  border-bottom: 1px solid #D6D6D6 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
  